#Alipay Inside
#Thu Sep 23 15:39:38 CST 2021
insideModel=TAOBAO
insideChannel=tao
barcodeDegrade=false
channel=taobao
productVersion=3.7.1.16323827
innerVersion=20210923153933778
productID=ALIPAY_INSIDE_TAOBAO_AND
tidDegradeSwitch=true
productName=ALIPAY_INSIDE
barcodeChannelDegrade=true
requiredCode19=true
